@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Orbitron:wght@400..900&family=Zen+Dots&display=swap');
@import "tailwindcss";

@theme {
  --font-orbitron: Orbitron, "sans-serif";
  --font-zen-dots: Zen Dots: "sans-serif";
  --font-karla: Karla, "sans-serif";
}

body {
    background-color: #374657;
}